{{> nav }}

<section class="mt-70">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <section class="mx-15 heading">
                    <div class="cover">
                        <h2>What's In Your Shopping Cart</h2>
                        <hr class="underline">
                        <p>The items below are currently in your shopping cart. <br> To remove an item, click on the bin
                            icon. To
                            continue to checkout,
                            please click "Proceed to Checkout"
                        </p>
                        <section class="row top-btns" style="margin: 0;">
                            <button class="btn btn-dark" onclick="refresh()"><i class="fa fa-retweet"></i>
                                Refresh</button>
                            <button class="btn btn-secondary" onclick="clearCart()"><i class="fas fa-trash-alt"></i>
                                Clear
                                Cart</button>
                            <button class="btn btn-info" onclick="home()"><i class="fa fa-cart-plus"></i> Continue
                                Shopping</button>
                            <button class="btn btn-primary" onclick="proceedToCheckout()"><i class="fa fa-play"></i>
                                Proceed
                                to
                                Checkout</button>
                        </section>
                    </div>
                </section>
                <br>
                <section>
                    <div class="row cart-header">
                        <div class="col-md-6 header-text">Items</div>
                        <div class="col-md-1 header-text">Remove</div>
                        <div class="col-md-2 header-text">Qty.</div>
                        <div class="col-md-3 header-text">Total</div>
                    </div>
                    <section id="itemsList">
                        <div>

                            <div class="row">
                                <div class="col-md-6 item-row">
                                    <div class="row items">
                                        <div class="col-md-4 h-100">
                                            <img src="/img/photo.jpg" style="height: 100%; width: 100%" alt="">
                                        </div>
                                        <div class=" col-md-8 item-row" style="border: none;">
                                            <div>
                                                <a href="#">
                                                    <h3>Purple tops</h3>
                                                </a>
                                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                                                    aliquam
                                                    aspernatur sunt modi soluta nesciunt voluptas repellat?</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 item-row"><i class="fas fa-trash-alt"
                                        onclick="removeItem(event)"></i>
                                </div>
                                <div class="col-md-2 item-row query">
                                    <input type="number" value="1" min="1"
                                        onchange="quantityChange(event, `{{name._id}}`)" style="width: 60px;"
                                        class="text-center">
                                </div>
                                <div class="col-md-3 item-row">50000</div>
                            </div>
                            <hr>
                        </div>
                    </section>
                </section>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br><br>
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg" onclick="proceedToCheckout()"><i
                    class="fa fa-play"></i> Proceed To
                Checkout</button>
        </div>
    </div>
</section>
<form method="POST" id="default">
    <input type="hidden" name="stringArray">
</form>
<br><br><br><br><br><br>
{{> footer }}
<script>



    function quantityChange(e, id) {
        let devcampcart;
        if (localStorage.getItem('devcampcart') === null) {
            devcampcart = [];
        } else {
            devcampcart = JSON.parse(localStorage.getItem("devcampcart"));
        }
        devcampcart.forEach(function (product, index) {
            if (product.id === id) {
                product.quantity = e.target.value
            }
        })
        localStorage.setItem("devcampcart", JSON.stringify(devcampcart));

    }


    var itemsList = document.getElementById("itemsList")
    function refresh() {
        window.location.reload()
    }
    function home() {
        window.location.href = "/";
    }

    function clearCart() {
        while (itemsList.firstChild) {
            itemsList.removeChild(itemsList.firstChild);
            localStorage.clear();
        }
    }

    function removeItem(e) {
        e.target.parentElement.parentElement.parentElement.remove()
        let item = e.target.parentElement.parentElement
        deleteItemFromLocalStorage(item)
    }


    function deleteItemFromLocalStorage(item) {
        let devcampcart;
        if (localStorage.getItem('devcampcart') === null) {
            devcampcart = [];
        } else {
            devcampcart = JSON.parse(localStorage.getItem("devcampcart"));
        }
        devcampcart.forEach(function (product, index) {
            if (item.childElement.childElement.lastElementChild.childElement.firstElementChild.childElement.textContent === product.name) {
                devcampcart.splice(index, 1);
            }
        })
        localStorage.setItem("devcampcart", JSON.stringify(devcampcart));

    }
    //pick fields
    var pick = function (obj, props) {
        'use strict'
        if (!obj || !props) return;

        var picked = {};
        props.forEach(function (prop) {
            picked[prop] = obj[prop]
        })

        return picked;
    }
    //proceed to checkout
    function proceedToCheckout() {
        let devcampcart;
        if (localStorage.getItem('devcampcart') === null) {
            devcampcart = [];
        } else {
            devcampcart = JSON.parse(localStorage.getItem("devcampcart"));
        }
        let newArray = devcampcart.map(function (product) {
            return pick(product, ["id", "quantity"])
        })
        let formm = document.getElementById("default")
        formm.setAttribute("action", "/carts")
        document.getElementById("inputtt").value = newArray
        form.submit()

    }
</script>