{{> nav }}


<section class="mt-40">
    <header class=" p-2 headerr">
        <div class="text-center ">
            <h1 class="for-header">What's In Your Shopping Cart</h1>
            <p>The items below are currently in your shopping cart. <br> To remove an item, click on the bin
                icon. To
                continue to checkout,
                please click "Proceed to Checkout"
            </p>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col text-center">
                        <div class="new_arrivals_sorting">
                            <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                                <li onclick="refresh()"
                                    class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center is-checked active"
                                    data-filter="*">
                                    Refresh</li>
                                <li onclick="clearCart()" class="grid_sorting_button button d-flex flex-column justify-content-center
                            align-items-center" data-filter=".women">
                                    Clear
                                    Cart</li>
                                <li onclick="shop()" class="grid_sorting_button button d-flex flex-column justify-content-center
                            align-items-center" data-filter=".accessories"> Continue
                                    Shopping</li>
                                <li onclick="proceedToCheckout()" class="grid_sorting_button button d-flex flex-column justify-content-center
                            align-items-center" data-filter=".men">
                                    Proceed
                                    to
                                    Checkout</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <section class="w-100">
                <div class="cart-header">
                    <div class="col-md-6 header-text">Items</div>
                    <div class="col-md-1 header-text">Remove</div>
                    <div class="col-md-2 header-text">Qty.</div>
                    <div class="col-md-3 header-text">Total</div>
                </div>

                <section id="itemsList">

                </section>
            </section>
        </div>
    </div>
    <br><br>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg" onclick="proceedToCheckout()"><i class="fa fa-play"></i>
            Proceed To
            Checkout</button>
    </div>
    </div>
</section>
<form method="POST" id="default">
    <input type="hidden" name="stringArray" id="inputtt">
</form>
<br><br><br><br><br><br>


{{> footer }}
<script>



    function quantityChange(e, id) {
        let devcampstores;
        if (localStorage.getItem('devcampcart') === null) {
            devcampstores = [];
        } else {
            devcampstores = JSON.parse(localStorage.getItem("devcampcart"));
        }
        devcampstores.forEach(function (product, index) {
            if (product.id === id) {
                product.quantity = e.target.value
            }
        })
        localStorage.setItem("devcampstores", JSON.stringify(devcampstores));

    }

    function onLoad() {
        let devcampstores;
        if (localStorage.getItem('devcampstores') === null) {
            devcampstores = [];
        } else {
            devcampstores = JSON.parse(localStorage.getItem("devcampstores"));
        }
        let div = "";
        let div1 = "";
        devcampstores.forEach(function (product) {
            div += `<div><div class="row itemmm"><div class="col-md-6 item-row"><div class="row items"><div class="col-md-4 h-100"><img src="/uploads/${product.image}" style="height: 100%; width: 100%" alt=""></div><div class=" col-md-8 item-row" style="border: none; justify-content: flex-start"><div ><a href="/shop/${product.id}"><h3>${product.name}</h3></a><p class="desc1">${product.description}</p></div></div></div></div><div class="col-md-1 item-row"><i class="fas fa-trash-alt" onclick="removeItem(event)"></i></div><div class="col-md-2 item-row query"><input type="number" value="${product.quantity}" min="1" onkeyup="quantityChange(event, '${product.id}')" style="width: 60px;" class="text-center"></div><div class="col-md-3 item-row"><div><span style="text-decoration: line-through; color: #00000080">${product.price}</span><br><br><span style="color: red">${product.price - product.discount}</span></div></div></div><hr></div>`

            //   div1 += `<div class="card" style="width: 18rem;"><img src="/uploads/${product.image}" class="card-img-top" alt="..."><div class="card-body"><a href="/shop/${product.id}">
            //    <h5 class="card-title">${product.name}</h5></a>
            //    <p class="card-text">${product.description}</p><div class="px-2 openbtw"><span style="text-decoration: line-through; color: #00000080">${product.price - product.discount}</span><span style="color: red">${product.price}</span></div><br><div class="openbtw"><input style="width: 60px; border-radius:5px; border: 0.1px solid #e5e5e5" type="number" value="${product.quantity}" min="1" onkeyup="quantityChange(event, '${product.id}')"><i class="fas fa-trash-alt" onclick="removeItem(event)"></i></div></div></div>`
        })
        document.getElementById("itemsList").innerHTML = div
        // document.getElementById("cardList").innerHTML = div1

    }
    onLoad()


    var itemsList = document.getElementById("itemsList")
    function refresh() {
        window.location.reload()
    }
    function home() {
        window.location.href = "/";
    }

    function clearCart() {
        while (itemsList.firstChild) {
            itemsList.removeChild(itemsList.firstChild);
            localStorage.clear();
        }
        let num = document.getElementById("cart_num")
        num.style.display = "none";

    }

    function removeItem(e) {
        e.target.parentElement.parentElement.parentElement.remove()
        let item = e.target.parentElement.parentElement
        deleteItemFromLocalStorage(item)
    }


    function deleteItemFromLocalStorage(item) {
        let devcampstores;
        if (localStorage.getItem('devcampstores') === null) {
            devcampstores = [];
        } else {
            devcampstores = JSON.parse(localStorage.getItem("devcampstores"));
        }

        devcampstores.forEach(function (product, index) {
            if (item.children[0].children[0].children[1].children[0].children[0].textContent === product.name || item.children[0].children[0].textContent === product.name) {
                devcampstores.splice(index, 1);
            }
        })
        localStorage.setItem("devcampstores", JSON.stringify(devcampstores));
        getStorage()

    }
    //pick fields
    var pick = function (obj, props) {
        'use strict'
        if (!obj || !props) return;

        var picked = {};
        props.forEach(function (prop) {
            picked[prop] = obj[prop]
        })

        return picked;
    }
    //proceed to checkout
    function proceedToCheckout() {
        let devcampstores;
        if (localStorage.getItem('devcampstores') === null) {
            devcampstores = [];
        } else {
            devcampstores = JSON.parse(localStorage.getItem("devcampstores"));
        }
        if (devcampstores.length < 1) {
            return;
        }
        let newArray = devcampstores.map(function (product) {
            return pick(product, ["id", "quantity"])
        })
        let formm = document.getElementById("default")
        formm.setAttribute("action", "/my-cart")
        document.getElementById("inputtt").value = JSON.stringify(newArray)
        formm.submit()

    }
    function quantityChange(e, id) {
        let devcampstores;
        if (localStorage.getItem('devcampstores') === null) {
            devcampstores = [];
        } else {
            devcampstores = JSON.parse(localStorage.getItem("devcampstores"));
        }
        devcampstores.forEach(function (product, index) {
            if (product.id === id) {
                product.quantity = e.target.value
            }
        })
        localStorage.setItem("devcampstores", JSON.stringify(devcampstores));
        getStorage()

    }
</script>