{{> nav }}
<style>
    h1 {
        letter-spacing: 4px;
        font-size: 40px !important;
    }

    header {
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #42586e;
        color: #fff;
        padding-top: 50px
    }
</style>
<header>
    <div class="text-center"><br>
        <h1>What's In Your Shopping Cart</h1>
        <p>The items below are currently in your shopping cart. <br> To remove an item, click on the bin
            icon. To
            continue to checkout,
            please click "Proceed to Checkout"
        </p>
        <hr class="style-eight">
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col text-center">
                        <div class="new_arrivals_sorting">
                            <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                                <li onclick="refresh()"
                                    class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center is-checked active"
                                    data-filter="*">
                                    Refresh</li>
                                <li onclick="clearCart()" class="grid_sorting_button button d-flex flex-column justify-content-center
                            align-items-center" data-filter=".women">
                                    Clear
                                    Cart</li>
                                <li onclick="shop()" class="grid_sorting_button button d-flex flex-column justify-content-center
                            align-items-center" data-filter=".accessories"> Continue
                                    Shopping</li>
                                <li onclick="proceedToCheckout()" class="grid_sorting_button button d-flex flex-column justify-content-center
                            align-items-center" data-filter=".men">
                                    Proceed
                                    to
                                    Checkout</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <section class="w-100">
                <div class="row cart-header">
                    <div class="col-md-6 header-text">Items</div>
                    <div class="col-md-1 header-text">Remove</div>
                    <div class="col-md-2 header-text">Qty.</div>
                    <div class="col-md-3 header-text">Total</div>
                </div>
                <section id="itemsList">
                    <div>

                        <div class="row">
                            <div class="col-md-6 item-row">
                                <div class="row items">
                                    <div class="col-md-4 h-100">
                                        <img src="/img/photo.jpg" style="height: 100%; width: 100%" alt="">
                                    </div>
                                    <div class=" col-md-8 item-row" style="border: none;">
                                        <div>
                                            <a href="#">
                                                <h3>Purple tops</h3>
                                            </a>
                                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                                                aliquam
                                                aspernatur sunt modi soluta nesciunt voluptas repellat?</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 item-row"><i class="fas fa-trash-alt" onclick="removeItem(event)"></i>
                            </div>
                            <div class="col-md-2 item-row query">
                                <input type="number" value="1" min="1" onchange="quantityChange(event, `{{name._id}}`)"
                                    style="width: 60px;" class="text-center">
                            </div>
                            <div class="col-md-3 item-row">50000</div>
                        </div>
                        <hr>
                    </div>
                </section>
            </section>
        </div>
    </div>
    <br><br>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg" onclick="proceedToCheckout()"><i class="fa fa-play"></i>
            Proceed To
            Checkout</button>
    </div>
    </div>
</section>
<form method="POST" id="default">
    <input type="hidden" name="stringArray">
</form>
<br><br><br><br><br><br>
{{> footer }}
<script>



    function quantityChange(e, id) {
        let devcampcart;
        if (localStorage.getItem('devcampcart') === null) {
            devcampcart = [];
        } else {
            devcampcart = JSON.parse(localStorage.getItem("devcampcart"));
        }
        devcampcart.forEach(function (product, index) {
            if (product.id === id) {
                product.quantity = e.target.value
            }
        })
        localStorage.setItem("devcampcart", JSON.stringify(devcampcart));

    }


    var itemsList = document.getElementById("itemsList")
    function refresh() {
        window.location.reload()
    }
    function home() {
        window.location.href = "/";
    }

    function clearCart() {
        while (itemsList.firstChild) {
            itemsList.removeChild(itemsList.firstChild);
            localStorage.clear();
        }
    }

    function removeItem(e) {
        e.target.parentElement.parentElement.parentElement.remove()
        let item = e.target.parentElement.parentElement
        deleteItemFromLocalStorage(item)
    }


    function deleteItemFromLocalStorage(item) {
        let devcampcart;
        if (localStorage.getItem('devcampcart') === null) {
            devcampcart = [];
        } else {
            devcampcart = JSON.parse(localStorage.getItem("devcampcart"));
        }
        devcampcart.forEach(function (product, index) {
            if (item.childElement.childElement.lastElementChild.childElement.firstElementChild.childElement.textContent === product.name) {
                devcampcart.splice(index, 1);
            }
        })
        localStorage.setItem("devcampcart", JSON.stringify(devcampcart));

    }
    //pick fields
    var pick = function (obj, props) {
        'use strict'
        if (!obj || !props) return;

        var picked = {};
        props.forEach(function (prop) {
            picked[prop] = obj[prop]
        })

        return picked;
    }
    //proceed to checkout
    function proceedToCheckout() {
        let devcampcart;
        if (localStorage.getItem('devcampcart') === null) {
            devcampcart = [];
        } else {
            devcampcart = JSON.parse(localStorage.getItem("devcampcart"));
        }
        let newArray = devcampcart.map(function (product) {
            return pick(product, ["id", "quantity"])
        })
        let formm = document.getElementById("default")
        formm.setAttribute("action", "/carts")
        document.getElementById("inputtt").value = newArray
        form.submit()

    }
</script>