{{> nav }}
<div class="error">
    <div class="text-center">
        <h1 class="error">404</h1>
        <p class="error">The link <em>{{link}}</em> does not exist in the server</p>
    </div>
</div>

<style>
    div.error {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1.error {
        font-size: 150px !important;
        color: #42586e;
    }

    p.error {
        font-size: 20px !important;
    }
</style>
{{> footer }}