<div class="productpage">
        <div class="productpageimage">
            <img src="boho_summer1.jpg" alt="">
            <div class="customerreviews">
                <h5>Customer reviews</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <p><em>I bought a dress here and the dress was great, comfortable and an immaculate fit. The dress also arrived on time. <br> &#8211; <strong>Wuraola Adesina</strong>, Lagos. 12/01/2021</em></p>
                            </div>
                            <div class="carousel-item">
                                <p><em>I bought a dress here and the dress was great, comfortable and an immaculate fit. The dress also arrived on time. <br> &#8211; <strong>Wuraola Adesina</strong>, Lagos. 12/01/2021</em></p>
                            </div>
                            <div class="carousel-item">
                                <p><em>I bought a dress here and the dress was great, comfortable and an immaculate fit. The dress also arrived on time. <br> &#8211; <strong>Wuraola Adesina</strong>, Lagos. 12/01/2021</em></p>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
        <div class="producttext">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
            <span>29 reviews</span>
            <h2>Boho Summer Dress</h2>
            <p id="zara">Zara</p>
            <p>The Boho long sleeve dress is an elegant summer dress cut from a soft light weight fabric.Featuring a plunging neckline.</p>
            <table>
                <tr>
                    <td>Price</td>
                    <td>$500</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>$50</td>
                </tr>
                <tr id="total">
                    <td>Total</td>
                    <td>$450</td>
                </tr>
            </table>
            <div class="sizebottons">
                <p id="size">Size</p>
                <button>S</button>
                <button>M</button>
                <button>L</button>
                <button>XL</button>
            </div>
            <button type="submit" id="addtocart">Add to cart</button>
        </div>
    </div>