<div class="body">
<img src="https://res.cloudinary.com/charlene04/image/upload/v1586549256/CampusTutor/logo_twsqug.png" alt="">
<div class="contains">
    <div class="text">
        <h2> DevCamp Stores</h2>
        <p>Registering an account gives you access to sweet promos and 
            events available to only registered Customers.</p>
            <p>Already got an account?</p>
            <button type="submit" id="button">log in</button><br>
    </div>
    <div class="form">
        <form action="">
            <h2>Register</h2>
            <input type="text" placeholder="Name"><br>
            <input type="text" placeholder="Email"><br>
            <input type="text" placeholder="Password"><br>
            <input type="text" placeholder="Location"><br>
            <button type="submit" id="button">Register</button>
        </form>
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fas fa-envelope"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
    </div>
</div>
</div>