
    @media (max-aspect-ratio: 1/1) {
        .item {
            height: 30vh;
        }
    }

    @media (max-height: 480px) {
        .item {
            height: 80vh;
        }
    }

    @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
        ul.gallery {
            flex-direction: row;
        }

        .item {
            height: auto;
            width: 100%;
        }

       
    }

    .card_name {
        color: white !important;
    }

    .overlay {
        position: relative;
        background-color: #0000007d;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 190px;
        margin-top: -205px;
        margin-right: 15px;
        margin-left: 15px;
        visibility: hidden;
        cursor: pointer;
        transform-origin: center center;
        padding: 5px;
    }

    .overlay i {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: white;
        font-size: 18px !important;
        z-index: 2;
    }

    .overlay .text-center {
        color: white;
    }

    .item:hover>div.overlay {
        visibility: visible;
    }

    .item img {
        transition: transform .3s ease;
    }

    .item:hover img {
        transform: scale(0.95);
    }

    ul.gallery {
        display: flex;
        flex-wrap: wrap;
    }

    ul.gallery:after {
        content: '';
        display: block;
        flex-grow: 10;
    }

    ul.gallery li {
        height: 220px;
        flex-grow: 1;
        margin: 5px;
    }

    .price {
        color: white;
        border-radius: 5px;
        background: red;
        padding: 2px;
    }

    .grid-item {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }

   

    hr.style-eight {
        overflow: visible;
        /* For IE */
        height: 30px;
        border-style: solid;
        border-color: white;
        border-width: 1px 0 0 0;
        border-radius: 20px;

    }

    hr.style-eight:before {
        /* Not really supposed to work, but does */
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        border-style: solid;
        border-color: white;
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }

    h1.for-header {
        letter-spacing: 4px;
        font-size: 35px !important;
    }
    header.headerr {
        min-height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #42586e;
        color: #fff;
        padding-top: 50px;
        padding: 10px;
    }

    